table, tr, th{
    border: 1px solid black;
    border-collapse: collapse;
}
table{
    width: 494px;
}

th{
    max-width: 100px;
    text-align: center;
    padding: 10px;
    word-wrap: break-word;
}

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Mukta', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    background-color: #fff;
    color: #222;
    background: #C9D6FF;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #E2E2E2, #C9D6FF);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #E2E2E2, #C9D6FF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}

img {
    max-width: 100%;
    height: auto;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.container {
    max-width: 1440px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
}

.test-container{
    width: 500px;
    margin-left: auto;
    margin-right: auto;
}

h1{
    margin: 0;
    padding: 0;
    margin-top: 40px;
    text-align: center;
}

.links{
    display: flex;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
}

.link{
    padding: 10px 20px;
    margin-right: 20px;
    text-align: center;
    color: dodgerblue;
    text-decoration: none;
    background: #C9D6FF;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #E2E2E2, #C9D6FF);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #E2E2E2, #C9D6FF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 3px;

}

.inputs{
    margin-top: 50px;
    display: flex;
}

.input{
    background: #C9D6FF;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #E2E2E2, #C9D6FF);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #E2E2E2, #C9D6FF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border: none;
    margin-right: 20px;
    color: black;
    padding: 10px 20px;
    padding-left: 20px;
    border-radius: 3px;
    
}

.btn{
    background: #C9D6FF;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #E2E2E2, #C9D6FF);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #E2E2E2, #C9D6FF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border: none;
    padding: 10px 20px;
    border-radius: 3px;
}

.x-btn{
    /* margin: auto; */
    text-align: center;
    color: black;
    font-weight: bold;
    display: flex;
    align-items: center;
    /* jcc */
    background: rgba(255, 0, 0, 0.4);
}

.x-btn:active{
    opacity: 0.9;
}

.info-wrapper{
    margin-top: 30px;
}